.icon-link ion-icon{
    margin: 10px 2.5px 0px 2.5px;
    fill: #ffffff;
    color: #ffffff;
}
  
.icon-link ion-icon:hover {
    fill: #5dafc9;
    color: #5dafc9
}
.disabled.icon-link  ion-icon {
    pointer-events: none;
    fill: #323232;
    color: #323232;
}